In [6]:
import pandas as pd
from datetime import datetime, timedelta

In [7]:
rockA = pd.read_csv('rock/Accelerometer.csv')
rockG = pd.read_csv('rock/Gyroscope.csv')
popA = pd.read_csv('pop/Accelerometer.csv')
popG = pd.read_csv('pop/Gyroscope.csv')
jazzA = pd.read_csv('jazz/Accelerometer.csv')
jazzG = pd.read_csv('jazz/Gyroscope.csv')
edmA = pd.read_csv('edm/Accelerometer.csv')
edmG = pd.read_csv('edm/Gyroscope.csv')
lofiA = pd.read_csv('lofi/Accelerometer.csv')
lofiG = pd.read_csv('lofi/Gyroscope.csv')

### Aggregating data so that each column has a 0.25s interval

In [8]:
rockA['Time (s)'] = pd.to_datetime(rockA['Time (s)'], unit='s')
rockA.set_index('Time (s)', inplace=True)
rockA = rockA.resample('0.25S').mean()
rockA.reset_index(inplace=True)

rockG['Time (s)'] = pd.to_datetime(rockG['Time (s)'], unit='s')
rockG.set_index('Time (s)', inplace=True)
rockG = rockG.resample('0.25S').mean()
rockG.reset_index(inplace=True)

popA['Time (s)'] = pd.to_datetime(popA['Time (s)'], unit='s')
popA.set_index('Time (s)', inplace=True)
popA = popA.resample('0.25S').mean()
popA.reset_index(inplace=True)

popG['Time (s)'] = pd.to_datetime(popG['Time (s)'], unit='s')
popG.set_index('Time (s)', inplace=True)
popG = popG.resample('0.25S').mean()
popG.reset_index(inplace=True)

jazzA['Time (s)'] = pd.to_datetime(jazzA['Time (s)'], unit='s')
jazzA.set_index('Time (s)', inplace=True)
jazzA = jazzA.resample('0.25S').mean()
jazzA.reset_index(inplace=True)

jazzG['Time (s)'] = pd.to_datetime(jazzG['Time (s)'], unit='s')
jazzG.set_index('Time (s)', inplace=True)
jazzG = jazzG.resample('0.25S').mean()
jazzG.reset_index(inplace=True)

edmA['Time (s)'] = pd.to_datetime(edmA['Time (s)'], unit='s')
edmA.set_index('Time (s)', inplace=True)
edmA = edmA.resample('0.25S').mean()
edmA.reset_index(inplace=True)

edmG['Time (s)'] = pd.to_datetime(edmG['Time (s)'], unit='s')
edmG.set_index('Time (s)', inplace=True)
edmG = edmG.resample('0.25S').mean()
edmG.reset_index(inplace=True)

lofiA['Time (s)'] = pd.to_datetime(lofiA['Time (s)'], unit='s')
lofiA.set_index('Time (s)', inplace=True)
lofiA = lofiA.resample('0.25S').mean()
lofiA.reset_index(inplace=True)

lofiG['Time (s)'] = pd.to_datetime(lofiG['Time (s)'], unit='s')
lofiG.set_index('Time (s)', inplace=True)
lofiG = lofiG.resample('0.25S').mean()
lofiG.reset_index(inplace=True)

# rockA['Genre'] = 'rock'
rockG['Genre'] = 'rock'
# popA['Genre'] = 'pop'
popG['Genre'] = 'pop'
# jazzA['Genre'] = 'jazz'
jazzG['Genre'] = 'jazz'
# edmA['Genre'] = 'edm'
edmG['Genre'] = 'edm'
# lofiA['Genre'] = 'lofi'
lofiG['Genre'] = 'lofi'

rockG.drop('Time (s)', axis=1, inplace=True)
popG.drop('Time (s)', axis=1, inplace=True)
jazzG.drop('Time (s)', axis=1, inplace=True)
edmG.drop('Time (s)', axis=1, inplace=True)
lofiG.drop('Time (s)', axis=1, inplace=True)

### Combining Accelerometer and Gyroscope datasets Horizontally and then Vertically

In [9]:
rock_combined = pd.concat([rockA, rockG], axis=1)
pop_combined = pd.concat([popA, popG], axis=1)
jazz_combined = pd.concat([jazzA, jazzG], axis=1)
edm_combined = pd.concat([edmA, edmG], axis=1)
lofi_combined = pd.concat([lofiA, lofiG], axis=1)

combined_df = pd.concat([rock_combined, pop_combined, jazz_combined, edm_combined, lofi_combined], axis=0)
# combined_df.to_excel('filename.xlsx', index=False)

### Converting datetime format to hours minutes and seconds

In [10]:
# df=pd.read_excel('filename1.xlsx')
# df['Time (s)'] = df['Time (s)'].dt.strftime('%H:%M:%S.%f')
# df.to_csv('dataset.csv',index=False)

In [11]:
df = pd.read_csv('dataset.csv')
df

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Genre,BPM
0,1970-01-01 00:00:00.000,-1.563384,3.703485,8.927862,-0.269163,-0.215996,0.037011,rock,173
1,1970-01-01 00:00:00.250,-0.832034,2.618059,9.157848,-0.275456,0.300962,-0.007585,rock,173
2,1970-01-01 00:00:00.500,-1.978007,2.809231,9.223699,-0.055587,-0.296234,-0.348594,rock,173
3,1970-01-01 00:00:00.750,-1.394112,1.944860,9.228296,0.187295,-0.638973,-0.304613,rock,173
4,1970-01-01 00:00:01.000,1.404846,2.322332,9.494185,0.267072,-1.329970,0.142612,rock,173
...,...,...,...,...,...,...,...,...,...
18624,1970-01-01 00:14:00.250,1.402597,4.288324,8.840542,0.099436,0.289380,0.141558,lofi,79
18625,1970-01-01 00:14:00.500,0.938983,4.361283,8.856370,0.072526,0.093060,0.003982,lofi,79
18626,1970-01-01 00:14:00.750,0.639292,4.480020,8.736529,0.043741,0.137521,-0.010292,lofi,79
18627,1970-01-01 00:14:01.000,0.653660,4.503643,8.486324,-0.072902,0.008056,-0.034407,lofi,79
18628,1970-01-01 00:14:01.250,0.281669,4.583388,8.915935,-0.049304,-0.300711,-0.174201,lofi,79

In [12]:
df.shape

(18629, 9)

In [13]:
df.isnull().sum()

Time (s)                  0
Acceleration x (m/s^2)    0
Acceleration y (m/s^2)    0
Acceleration z (m/s^2)    0
Gyroscope x (rad/s)       0
Gyroscope y (rad/s)       0
Gyroscope z (rad/s)       0
Genre                     0
BPM                       0
dtype: int64

In [14]:
# check data types
df.dtypes

Time (s)                   object
Acceleration x (m/s^2)    float64
Acceleration y (m/s^2)    float64
Acceleration z (m/s^2)    float64
Gyroscope x (rad/s)       float64
Gyroscope y (rad/s)       float64
Gyroscope z (rad/s)       float64
Genre                      object
BPM                         int64
dtype: object

In [16]:
df.describe(include='object')

                       Time (s)  Genre
count                     18629  18629
unique                     4252      5
top     1970-01-01 00:00:00.000   jazz
freq                          5   4252

In [17]:
df.describe()

,Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),BPM
count,18629.000000,18629.000000,18629.000000,18629.000000,18629.000000,18629.000000,18629.000000
mean,3.800800,1.858437,3.779061,0.012354,0.010672,0.042730,115.971550
std,5.710247,6.266716,5.513403,1.755464,1.491357,1.769321,31.594765
min,-21.573309,-35.354150,-23.271866,-12.112553,-12.139550,-10.480836,62.000000
25%,0.200358,-1.405110,0.531667,-0.698815,-0.587539,-0.707002,94.000000
50%,3.726487,2.943523,3.755729,0.002162,0.008327,0.021920,119.000000
75%,7.587721,6.482743,7.661830,0.718192,0.651966,0.790541,128.000000
max,32.077082,22.583202,35.132009,11.186672,8.256840,9.795403,186.000000

In [ ]:
# plot each feature against the time column

import matplotlib.pyplot as plt
import seaborn as sns

# plot each feature against the time column
for col in df.columns:
    if col != 'Time (s)':
        plt.figure(figsize=(20, 5))
        plt.plot(df['Time (s)'], df[col])
        plt.title(col)
        plt.show()